{
  # The root URL for the REST API server.
  #
  # This can be an absolute URL or a URL relative to the authority this app is
  # served from.
  #
  # The relative paths for the REST API server are added to this URL.  To load the
  # sessions data a request is made to the relative URL `/sessions`, which is
  # tranformed into the URL `${apiRootUrl}/sessions`.
  # "apiRootUrl": "/desktop/api/v2",
  "apiRootUrl": "https://gateway1.my.custer/desktop/api/v2",

  # The path prefix used for websocket connections.
  "websocketPathPrefix": "/ws"



  ### Development only settings ###

  #
  # Setting that are useful only in development and testing.
  #

  # Settings for constructing the websocket proxy server URL.
  #
  # If unset the value will be determined from apiRootUrl above.  You probably
  # want this to be unset.
  #
  #devOnlyWebsocketRootUrl: "ws://localhost:9090"
}
