body {
    margin: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    background-color: #e4f5fd;

    overflow-y: scroll;
}

/* code { */
/*   font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', */
/*     monospace; */
/* } */

#main {
    margin-bottom: 60px;
    position: relative;
}

.nav-menu-text {
    font-size: larger;
}
.navbar-light .navbar-nav .nav-menu-text:hover {
    color: rgba(0,0,0,.5);
}

.nav-menu-button {
    font-weight: bold;
    font-size: larger;
}

footer {
    background-color: white;
    bottom: 0;
    height: 60px;
    line-height: 60px;
    position: fixed;
    width: 100%;
    z-index: 100;
}

#toast-portal {
    position: absolute;
    top: 5px;
    right: 5px;
    z-index: 100;
}

.page {
  position: absolute;
  left: 15px;
  right: 15px;
}

.page-enter-done {
  position: inherit;
}

.page-enter {
  opacity: 0;
}

.page-enter-active {
  opacity: 1;
  transition: opacity 300ms, transform 300ms;
}

.page-exit {
  opacity: 1;
  transform: scale(1);
}

.page-exit-active {
  opacity: 0;
  transform: scale(0.9);
  transition: opacity 300ms, transform 300ms;
}

.desktop--unverified .card-header,
.desktop--unverified .card-body,
.desktop--unverified .card-footer {
    opacity: 0.5;
}

.session--broken .card-body img,
.session--exited .card-body img {
    opacity: 0.5;
}

.fa-background {
    position:relative;
}    
.fa-background:before {
    color: #2296d9;
    color: var(--success);
    font-family: FontAwesome;
    font-size: 900%;
    left: 50%;
    opacity: 0.2;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
}
.fa-background-desktop:before {
    content: "\f108";
}
.fa-background-rocket:before {
    content: "\f135";
}

.vnc-wrapper > * {
    background-color: #fff !important;
}

.vnc-height {
    /* Subtract header, footer, centernav margin, card header, card border,
     * extra to make things nicer. */
    height: calc( 100vh - 108px - 60px - 24px - 56px - 2px - 0px );
}

html:fullscreen .vnc-height {
    /* Subtract card header, card border, #main top and bottom margins.
     * extra to make things nicer. */
    height: calc( 100vh - 56px - 2px - 10px - 10px - 0px );
}
html:fullscreen nav.navbar,
html:fullscreen footer {
    display: none;
}
html:fullscreen .centernav {
    margin: 0 !important;
}
html:fullscreen #main {
    margin-top: 10px !important;
    margin-bottom: 10px !important;
}
