body {
    margin: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    background-color: #e4f5fd;
}

/* code { */
/*   font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', */
/*     monospace; */
/* } */

#main {
    margin-bottom: 60px;
}

.nav-menu-text {
    font-size: larger;
}

.nav-menu-button {
    font-weight: bold;
    font-size: larger;
}

footer {
    background-color: white;
    bottom: 0;
    height: 60px;
    line-height: 60px;
    position: fixed;
    width: 100%;
    z-index: 100;
}
